<!DOCTYPE html>
<html>
    <div style="width: 800px; background-color: #090126; display: flex; justify-content: center; padding-top: 40px;  padding-bottom: 200px;">
        <div style="margin: auto; margin-left: 50px; margin-right:50px; color: white;width: 430px;padding-bottom: 300px;padding-top:30px;background: linear-gradient(180deg, #4E208C 12.09%, rgba(51, 23, 140, 0) 90.03%);border-radius: 23px; text-align: center;">
            <h2>Cześć {{ username}},<br>mamy wspaniałe wieści!</h2>
            <br>
            <p>{{ korepetytor }} zaprosił cie jako studenta na naszą platforme OSKO Code</p>
            <p>Znajdziesz tu informacje o twoich najbliższych zajęciach i o zadaniach do wykonania</p>
            <p>Możesz też zdobyć punkty i wymienić ja na n agrody :D</p>
            <br>
            <br>
            <p>Kliknij w link poniżej i dołącz do nas</p>
            <a href="https://osco01.pythonanywhere.com/register/{{token}}" style="text-decoration: none;">
                <div style="background-color: white; border-radius: 30px; padding-top: 10px;padding-bottom: 10px; width: 70%; margin: auto; text-decoration: none; color: #090126; font-size: 20px">
                    <b>Zostań super studentem</b>
                </div>
            </a>
        </div>
    </div>
</htmL>
