<!DOCTYPE html>
<html>
    <div style="width: 800px; background-color: #090126; display: flex; justify-content: center; padding-top: 40px;  padding-bottom: 200px;">
        <div style="margin: auto; color: white;width: 430px;padding-bottom: 300px;padding-top:30px;background: linear-gradient(180deg, #4E208C 12.09%, rgba(51, 23, 140, 0) 90.03%);border-radius: 23px; text-align: center;">
            <h2>Cześć {{ user.get_username }}!</h2>
            <br>
            <p>Aby zresetować hało kliknj link ponizej:</p>
            <br>
            <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="text-decoration: none;">
                <div style="background-color: white; border-radius: 30px; padding-top: 10px;padding-bottom: 10px; width: 70%; margin: auto; text-decoration: none; color: #090126; font-size: 20px">
                    <b>Zresetuj haslo</b>
                </div>
            </a>
        </div>
    </div>
</htmL>